@import "../../utils/variables";
@mixin link {
    text-decoration: none;
    cursor: pointer;
}
.cart {
    color: $color_dark;
    max-width: 1180px;
    padding: 0 50px;
    margin: 0 auto;

    .cart_title {
        font-size: 1.6rem;
        margin-bottom: 40px;
        
    }

    .cart_item_container {
        border-top: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3;
        display: flex;
        flex-direction: column;
        margin-bottom: 80px; 
    }
}

