@import "../../utils/variables";
@mixin link {
    text-decoration: none;
    cursor: pointer;
}
.cart {
    color: $color_dark;
    max-width: 1180px;
    padding: 0 50px;
    margin: 0 auto;

    .cart_title {
        font-size: 1.6rem;
        margin-bottom: 40px;
        
    }

    .cart_item_container {
        border-top: 1px solid #f3f3f3;
        border-bottom: 1px solid #f3f3f3;
        display: flex;
        flex-direction: column;
        margin-bottom: 80px; 
    }
}

.cart_item {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;

    .cart_item_img {
        flex: 0.3;

        img {
            max-width: 40%;
        }
    }

    .cart_item_info {
        flex: 0.7;
        display: flex;
        align-items: center;
    }
}

.cart_item_info_right {
    flex: 0.4;

    .cart_item_name {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .cart_item_size {
        font-size: 0.9rem;
        margin-bottom: 10px;
    }

    .cart_item_remove {
        cursor: pointer;
        border: none;
        background-color: #fff;
        color: #f3f3f3;
        padding: 0;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        &:hover {
            border-bottom: 1px solid $color_dark;
            color: $color_dark;
        }
    }
}

.cart_item_info_left {
    flex: 0.6;
    display: flex;
    justify-content: space-between;
}